.bubble {
  position: absolute;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: skyblue;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
  user-select: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);


  &:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

  }

  &:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2); // 点击时添加内阴影
    transform: translateY(2px); // 稍微向下移动模仿按下效果
  }
}

.expanded {
  position: absolute;
  cursor: grab;
  user-select: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  bottom: 120px; // 调整位置
  ////left: 20px;
  //transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 30px;

  backdrop-filter: blur(5px); // 创建玻璃效果
  background-color: skyblue;
  width: 800px; // 展开后的宽度
  height: 60px; // 展开后的高度
  border-radius: 20px; // 调整为适当的圆角
}

.fixedIcon {
  cursor: grab;
  user-select: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
}

.dragIcon {
  cursor: grab;
  user-select: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    transform: scale(1.2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
}


.expandedContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}


.icon {

  width: 42px; // 调整图标大小
  height: 42px;
  //background-color: #e3f1f1; // 假设所有图标都有统一的背景色，实际情况可能需要调整
  border-radius: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 调整阴影的颜色、模糊半径等参数以符合设计需求 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 8px rgba(255, 255, 255, 0.3); /* 添加亮光效果 */

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    //background-color: #def3f3;
  }

  &:active {
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2); // 点击时添加内阴影
    transform: translateY(2px); // 稍微向下移动模仿按下效果
  }
}

@keyframes iconMove {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(70px); /* Adjust based on desired end position */
  }
}

//.iconMove1 {
//  animation: iconMove 0.5s ease forwards;
//}



