.myScriptTextDecoration {
  //cursor: pointer; /* 使其看起来像链接 */
  //text-decoration: underline; /* 使其看起来像链接 */
  //color: blue; /* 使其看起来像链接 */

}

.myScriptTextMarginDecoration::before {
  content: ' ';
  width: 20px; // 调整为所需的宽度
  height: 20px; // 调整为所需的高度
  border-radius: 50%; // 使其成为圆形
  background-color: red; // 默认颜色
  display: inline-block;
}

//.myScriptTextMarginDecoration {
//  cursor: pointer; /* 应用于整个装饰类，而不仅是::before伪元素 */
//}

.codeDiffViewer {
  width: auto;
  height: 85vh; // 默认高度

  @media (max-height: 700px) {
    height: 70vh; // 在较小的屏幕上减少高度
  }

  @media (max-height: 500px) {
    height: 60vh; // 在更小的屏幕上进一步减少高度
  }
}
