.nodePopup {
  display: flex;
  justify-content: space-around; // 横向等间距排列
  flex-wrap: wrap; // 允许图标换行
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.nodeIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}

// 如果使用了antd的图标，也可以直接设置样式
.antIcon {
  font-size: 24px; // 图标大小
  margin-bottom: 8px;
}

.nodeIcon span {
  font-size: 12px;
  color: #333;
}
