.contextMenu {
  width: 180px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  //opacity: 0; // 默认隐藏，可以根据需要调整
  transition: opacity 0.3s; // 平滑显示菜单

  &.visible {
    opacity: 1; // 显示时的透明度
  }

  .menuItem {
    list-style-type: none;
    padding: 12px;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; // 平滑背景和颜色变化

    &:hover {
      background-color: cornflowerblue;
      color: #fff;
    }
  }
}
